name: Build and Push MongoDB 4.4 Images

on:
  workflow_dispatch:

env:
  IMAGE_NAME: mongo
  BUILD_PLATFORMS: linux/amd64,linux/arm64
  MONGO_VERSION: "4.4.30"

jobs:
  build-and-push:
    name: Build and Push
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate lowercase namespace
        id: lower-namespace
        run: |
          LOWER_NAMESPACE=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          echo "lower_namespace=$LOWER_NAMESPACE" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ env.BUILD_PLATFORMS }}
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.MONGO_VERSION }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:4.4
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:4
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
            ghcr.io/${{ steps.lower-namespace.outputs.lower_namespace }}/${{ env.IMAGE_NAME }}:${{ env.MONGO_VERSION }}
            ghcr.io/${{ steps.lower-namespace.outputs.lower_namespace }}/${{ env.IMAGE_NAME }}:4.4
            ghcr.io/${{ steps.lower-namespace.outputs.lower_namespace }}/${{ env.IMAGE_NAME }}:4
            ghcr.io/${{ steps.lower-namespace.outputs.lower_namespace }}/${{ env.IMAGE_NAME }}:latest
          labels: |
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.version=${{ env.MONGO_VERSION }}
            org.opencontainers.image.description=MongoDB ${{ env.MONGO_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
